.by {
    width: 100%;
    padding: 1rem 0;
    background-color: #20232F;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        color: gray;
    }
}