.card {
    display: flex;
    flex-direction: column;
    height: 26rem;
    width: 20rem;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    

    img {
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }
     div {
        height: 1px;
        width: 35%;
        margin: 1rem 0;
        background-color: gray;
     }

     h4 {
        margin: 0;
        width: 90%;
        text-align: center;
        color: white;
        letter-spacing: 0.2px;
        font-weight: 400;
        line-height: 24px;
     }
}